{% extends "base_full.html" %}
{% block content %}

<div class="row" style="padding-bottom: 20px;">
    <div align="center" style="margin-top: 20px;">
        <span style="font-size:40px;">We compute credibility in social media</span>
    </div>
    <div align="center" style="margin-top:15px;">
        	<span style="font-size:30px; padding-left: 100px; padding-right: 100px; color: #808080;">There are many post in social media which is fake news. We created many tool
for computing credibility on social media.</span>
    </div>
</div>

<div class="row" style="background: #e6e6e6;">
    <div class="col-sm-4">
        <div style="background:#ffffff; height: 200px; margin-top: 10%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%;">
            <div style="padding-top: 20px; padding-left: 20px;">
                <div class="row">
                    <div class="col-sm-3"><img src="{{ url_for('static', filename='newimages/credface.png') }}"/></div>
                    <div class="col-sm-6">
                        <span style="font-size:25px;">CredFace</span>
                        <p>
                            <span style="color: #4d4d4d;">Facebook credibility assessment on Google Chrome extension</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px; margin-top: 10px;">
                    <button class="app_btn">Go to extension</button>
                    <button class="app_btn">Learning More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div style="background:#ffffff; height: 200px; margin-top: 10%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%;">
            <div style="padding-top: 20px; padding-left: 20px;">
                <div class="row">
                    <div class="col-sm-3"><img src="{{ url_for('static', filename='newimages/credtweet.png') }}"/></div>
                    <div class="col-sm-6">
                        <span style="font-size:25px;">CredTwitter</span>
                        <p/>
                        <span style="color: #4d4d4d;">Twitter credibility assessment on Google Chrome extension</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px; margin-top: 10px;">
                    <button class="app_btn">Go to extension</button>
                    <button class="app_btn">Learning More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div style="background:#ffffff; height: 200px; margin-top: 10%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%;">
            <div style="padding-top: 20px; padding-left: 20px;">
                <div class="row">
                    <div class="col-sm-3"><img src="{{ url_for('static', filename='newimages/credurl.png') }}"/></div>
                    <div class="col-sm-6">
                        <span style="font-size:25px;">CredURL</span>
                        <p/>
                        <span style="color: #4d4d4d;">URL credibility assessment on Google Chrome extension</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px; margin-top: 10px;">
                    <a href="/fbassess/" class="app_btn" role="button">URL Assessment</a>
                    <a href="#" class="app_btn" role="button">Learning More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background: #e6e6e6;">
    <div class="col-sm-4">
        <div style="background:#ffffff; height: 200px; margin-top: 10%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%;">
            <div style="padding-top: 20px; padding-left: 20px;">
                <div class="row">
                    <div class="col-sm-3"><img src="{{ url_for('static', filename='newimages/framework.png') }}"/></div>
                    <div class="col-sm-6">
                        <span style="font-size:25px;">Framework</span>
                        <p>
                            <span style="color: #4d4d4d;">User can create a Machine learning model from our framework</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px; margin-top: 10px;">
                    <a href="/frame/list" class="app_btn" role="button">Go to Framework</a>
                    <a href="#" class="app_btn" role="button">Learning More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
