{% extends "base_full.html" %}
{% block content %}
<div class="list-group" style="position: relative; margin-top: 30px; margin-left: 20px;">

    <div class="list-group-item active">Non-newsworthy post</div>
    <a href="http://www.ijtech.eng.ui.ac.id/old/index.php/journal/article/download/5072/657" class="list-group-item">
        Noyunsan, Chaluemwut, et al. "A SOCIAL NETWORK NEWSWORTHINESS FILTER BASED ON TOPIC ANALYSIS." INTERNATIONAL
        JOURNAL OF TECHNOLOGY 7.7 (2016): 1239-1245.
    </a>

    <div class="list-group-item active" style="margin-top:20px;">Automatic Credibility Assessment</div>
    <a href='http://www.waset.org/publications/10000280' class="list-group-item">
        Saikaew, Kanda Runapongsa, and Chaluemwut Noyunsan. "Features for measuring credibility on facebook information." International Scholarly and Scientific Research & Innovation 9.1 (2015): 174-177.
    </a>

    <div class="list-group-item active" style="margin-top:20px;">Tool Comparision</div>
    <a href='http://ceur-ws.org/Vol-1312/jist2014pd_paper6.pdf' class="list-group-item">
        Noyunsan, Chaluemwut, et al. "A Multi-Aspect Comparison and Evaluation on Thai Word Segmentation Programs." JIST (Workshops & Posters). 2014.
    </a>

    <div class="list-group-item active" style="margin-top:20px;">Other</div>
    <a href='http://gear.kku.ac.th/~krunapon/research/pub/itccscc2014-whereareyou.pdf' class="list-group-item">
        Noyunsan, Chaluemwut, Pattarawit Polpinit, Pongsakorn Namsorn, and Kanda Runapongsa Saikeaw. "A Mobile App to Automatically Detect and Report Children's Location."
    </a>

</div>

{% endblock %}
